@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --box-shadow: 0 .5rem 1.5rem rgba(156, 142, 142, 0.1);
    --transparent-white: rgba(255,255,255,.2);
    --footer-white: rgba(255, 255, 255, 0.904);
    --border: .2rem 
}

*{
    font-family: 'Taviraj', serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

html{
    overflow-x: hidden;
}

/* html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
 
html::-webkit-scrollbar-thumb{
    background: var(--pink);
} */



body{
    background-color: #050505;
    /* border: 2px solid #E3C79A; */
}

.page1{
    height: 108vh;
    padding-top: 22rem;
}

.header{
    z-index:2;
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    width: 100%;
    text-transform: capitalize;
    color: purple;
}

.header .logo{
    font-family: logoFont;
    font-size: 7rem;
    text-shadow: .1rem .5rem 1.5rem rgb(255, 13, 170);
}

@font-face{
    font-family: logoFont;
    src: url(../style/customFonts/BAD\ GRUNGE.ttf);
}

.header .logo:hover{
    transform: scale(1.06);
    transition: .3s;
    color: yellow;
}

.header .logo:active{
    transform: scale(.95);
    transition: .1s;
    color: rgb(0, 255, 38);
}

.header .navbar{
    margin-left: 24rem;
}
 
.header .navbar a{
    margin: 0 1rem;
    font-size: 3.5rem;
}

.header .navbar a:hover{
    transition: .2s;
    color: rgb(243, 40, 4);
}

.header .navbar a:active{
    transition: .1s;
    color: rgb(0, 250, 50);
}


.btn{
    /* z-index: 2; */
    /* display: inline-block; */
    padding: 1rem 3rem;
    border: var(--border);
    background: var(--transparent-white);   
    color: var(--black);
    border-radius: .5rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    margin: 1rem;
}

.btn:hover{
    /* z-index: 2; */
    background: var(--black);
    color: var(--white);
}

#menu-btn{
    /* z-index: 2; */
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--black);
}




.team{
    margin: 0 3rem;
}

.team .heading{
    text-align: center;
    font-family: logoFont;
    font-size: 5rem;
    color: yellow;
    backdrop-filter: blur(.5rem);
    background-color: var(--transparent-white);
    user-select: none;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.team .slide{
    height: 32rem;
    overflow: hidden;
    position: relative;
    /* user-select: none; */
    margin-bottom: 4rem;
}
 
.team .slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    /* user-select: none; */
}
 
.team .slide:hover img{
    transform: scale(1.1);
}
 
.team .slide .content{
    position: absolute;
    bottom:0; left:0; right:0;
    background: var(--transparent-white);
    backdrop-filter: blur(.5rem);
    padding:2rem;
    text-align: center;
    transition: .2s linear;
    transform: translateY(calc(100% - 6.5rem));
}
 
.team .slide:hover .content{
    transform: translateY(0);
}

/* Hover doesn't work on phones make click !!! */

/* .team .slide::selection .content{
    transform: translateY(0);
} */
 
.team .slide .content h3{
    font-size: 2rem;
    color:var(--black);
    text-transform: uppercase;
}
 
.team .slide .content p{
    font-size: 1.5rem;
    color:var(--black);
    padding:1rem 0;
    line-height: 2;
}

.team .swiper-pagination{
    bottom:0 !important;
    backdrop-filter: blur(.5rem);
    background: var(--transparent-white);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.team .swiper-pagination-bullet-active{
    background: yellow;
}




.page2{
    height: 108vh;
}

.page2 .heading{
    z-index: 2;
    color: aqua;
    font-family: logoFont;
    background: var(--transparent-white);
    backdrop-filter: blur(.5rem);
    border-radius: .5rem;
    text-align: center;
    font-size: 4.5rem;
    width: 67rem;
    margin: 1rem 26rem;
}


.create form{
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: var(--transparent-white);
}
 
.create form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}
 
.create form .flex .inputBox{
    flex:1 1 41rem;
}
 
.create form .flex .inputBox span{
    display: block;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    color:#050505;
    text-align: center;
}

.create form .flex .inputBox input,
.create form .flex .inputBox textarea,
.create form .flex .inputBox select{
    width: 100%;
    padding:1.2rem 1.4rem;
    border:var(--border);
    font-size: 1.7rem;
    font-weight: bold;
    background: var(--transparent-white);
    text-align: center;
    color: #050505;
}
 
.create form .flex .inputBox textarea{
    height: 20rem;
    resize: none;
}

.page2 form{
    margin: 0 2.5rem;
}


.create .card {
    width: 100%;
    height: 30rem;
    padding: 15px;
    box-shadow: 0 0 5px #050505;
    border-radius: 5px;
    overflow: hidden;
}

.create .card .drag-area {
	width: 100%;
	height: 24rem;
	border: var(--border);
	color: #050505;
	font-size: 0.9rem;
	font-weight: 500;
	position: relative;
	background: var(--transparent-white);
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	-webkit-user-select: none;
	margin-top: 10px;
}


.create .card .drag-area .visible {
	font-size: 3rem;
}
.create .card .select {
    color: #050505;
	margin-left: 5px;
	cursor: pointer;
	transition: 0.4s;
}

.create .card .select:hover {
    color: yellow;
}

.create .card .select:active{
    color: lime;
}

.create .card .container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	max-height: 200px;
	overflow-y: auto;
    /* fix of incorrect location of draged image */
	margin-top: -27rem;
    
}


.create .card .container .image {
	width: calc(26% - 19px);
	height: 55px;
	position: absolute;
	margin-bottom: 8px;
}

.create .card .container .image img {
	height: 20rem;
    margin: 0 5vw;
	border-radius: 5px;
    position: relative;
}

.create .card .container .image span {
    z-index: 3;
    display: flex;
    justify-content: right;
	font-size: 3rem;
	cursor: pointer;
    color: aqua;
}

/* dragover class will be used in drag and drop system */
.create .card .drag-area.dragover {
    backdrop-filter:  blur(.2rem);
    font-size: 3rem;
}

.create .card .drag-area.dragover .on-drop {
	display: inline;
}

.create .card input,
.create .card .drag-area .on-drop, 
.create .card .drag-area.dragover .visible {
	display: none;
}


.create form .btn{
    margin-top: 2rem;
}

.create form .btn{
    display: inline-block;
    width: 100%;
    border:var(--border);
    background: var(--transparent-white);
	color: #050505;
    border-radius: .5rem;
    font-size: 1.9rem;
    font-weight: bold;
    text-transform: capitalize;
    margin: 1.5rem 0rem;
    cursor: pointer;
}

.create form .btn:hover{
    backdrop-filter: blur(.3rem);
    color:var(--white);
    transition: .2rem;
}

.create form .btn:active{
    color: yellow;
    transition: .1rem;
}







.footer{
    width: 100%;
    font-size: 1.7rem;
    color: #E3C79A;
    text-shadow: var(--footer-white);
    border: 2px solid #E3C79A;
    border-top: none;
}

.footer .author,
.footer .links{
    margin: 0 4rem;
    text-align: center;
}

.footer .credit{

}


.footer .links h5{
    text-align: center;
    font-size: 1.7rem;
}

.footer .links a{
    text-transform: capitalize;
    color: #E1D4B9;
}

.footer .links a:hover{
    color: rgb(243, 40, 4);
    transition: .2s;
}

.footer .links a:active{
    transition: .1s;
    color: rgb(0, 250, 50);
}




/* media queries */

@media (max-width:1271px){
    html{
        font-size: 65%;
    }
    .header .navbar{
        margin-left: 9rem;
    }
}

@media (max-width: 1200px){
    .page1,
    .page2{
        background-position: center !important;
        background-size: cover !important;
    }

    .page1{
        padding-top: 440px;
    }

    .page2{
        padding-top: 20px;
    }

    .page2 form{
        margin-top: 200px;
    }
    
}

@media (max-width:991px){
    
    html{
        font-size: 55%;
    }
}

@media (max-width:815px){

    .page1{
        padding-top: 450px;
    }

    .header{
        width: 80%;
        margin: 30px 10%;
    }

    .page2{
        padding-top: 20px;
    }

    /* good move  */

    .page2 .heading{
        width: 50%;
        margin: 0 25%;
    }
    /*  !!! */

    .page2 form{
        margin: 150px 30px;
    }

    .create .card .container .image img {
        width: 300px;
    }
}

@media (max-width:768px){

    .header{
        width: 50%;
        margin: 0 25%;
    }

    .create .card .container .image img {
        width: 240px;
    }
    
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    
    .header .navbar{
        position: relative;
        top: 99%; left: 0; right: 0;
        background: var(--white);
        border-top: var(--border);
        padding: 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        text-align: center;
    }

    .page1{
        padding-top: 45rem;
    }    
    
}

@media(max-width:541px){
    .footer .icons{
        display: grid;
        text-align: center;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .header .navbar{
        margin-left: 1rem;
    }
    
    .page1{
        padding-top: 45rem;
    }

    .page2 form{
        width: 90%;
        margin: 20px 5%;
    }

}

@media (max-width:375px) {

    .page1{
        padding-top: 35rem;
    }
    
    .header{
        margin-top: -30px;
    }

}